.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .page.who-we-are-two p a[href^=mailto] {
    text-decoration: underline; }
    .page.who-we-are-two p a[href^=mailto]:hover {
      color: #407CBA !important; }
  .page.about-two p a[href^=mailto] {
    text-decoration: underline; }
    .page.about-two p a[href^=mailto]:hover {
      color: #222400 !important; }

@media (max-width: 1280px) and (orientation: portrait) {
  #projects .page .gallery {
    display: none; }
  #projects .page .case-study {
    display: none !important; }
  #projects .page .down-page {
    display: none !important; }
  #projects .page .p {
    padding-top: 0 !important;
    color: #FFF !important;
    font-size: 16px !important;
    left: 80px !important;
    line-height: 24px !important;
    padding-left: 52px !important;
    position: absolute !important;
    top: 90px !important;
    width: 480px !important; }
  #projects .page h1 {
    text-align: center !important; }
  #projects .page .gallery-mobile {
    display: block !important;
    width: 546px;
    height: 254px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin-left: -273px; }
    #projects .page .gallery-mobile .go-left-mobile {
      position: absolute;
      left: 0px;
      cursor: pointer;
      top: 85px; }
    #projects .page .gallery-mobile .go-right-mobile {
      position: absolute;
      right: 0px;
      cursor: pointer;
      top: 85px; }
    #projects .page .gallery-mobile .clip {
      position: absolute;
      overflow: hidden;
      width: 354px;
      height: 254px;
      left: 50%;
      margin-left: -177px; }
      #projects .page .gallery-mobile .clip .imgbox-mobile {
        position: absolute; }

  .about-two.page p {
    background: url("../img/header-about-2-mobile.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0) !important;
    padding-top: 147px !important;
    color: #FFF !important;
    font-size: 16px !important;
    left: 5% !important;
    line-height: 24px !important;
    padding-left: 52px !important;
    position: absolute !important;
    top: 20% !important;
    width: 350px !important; }

  .about-one.page p {
    padding-top: 147px !important;
    color: #FFF !important;
    font-size: 16px !important;
    left: 5% !important;
    line-height: 24px !important;
    padding-left: 52px !important;
    position: absolute !important;
    top: 30% !important;
    width: 350px !important; }

  .who-we-are-one.page p {
    padding-top: 147px !important;
    color: #FFF !important;
    font-size: 16px !important;
    left: 50% !important;
    line-height: 24px !important;
    padding-left: 52px !important;
    position: absolute !important;
    top: 150px !important;
    width: 512px !important;
    margin-left: -256px; }
  .who-we-are-one.page .popup {
    position: absolute;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.75);
    bottom: -100%;
    width: 100%;
    height: auto !important;
    padding: 15px 18%;
    padding-bottom: 35px;
    font-size: 1.6em;
    line-height: 1.9em;
    font-style: bold; }
    .who-we-are-one.page .popup .close-popup {
      background: url("../img/close-btn.png") no-repeat top center;
      position: absolute;
      top: -19px;
      width: 100%;
      left: 0;
      height: 19px;
      cursor: pointer; }
    .who-we-are-one.page .popup p {
      padding-top: 0px !important;
      color: #000 !important;
      font-size: 16px !important;
      left: 50% !important;
      line-height: 24px !important;
      padding-left: 0px !important;
      position: absolute !important;
      top: 10px !important;
      width: 450px !important;
      margin-left: -225px; }

  .who-we-are-two.page p {
    padding-top: 147px !important;
    color: #FFF !important;
    font-size: 16px !important;
    left: 50% !important;
    line-height: 24px !important;
    padding-left: 52px !important;
    position: absolute !important;
    top: 150px !important;
    width: 512px !important;
    margin-left: -256px; }

  .words {
    display: none !important; }

  .mobile-words-con {
    width: 370px;
    height: 90px;
    position: relative;
    left: 50%;
    margin-left: -185px;
    top: 586px; }
    .mobile-words-con .mobile-words-buttons {
      display: block !important;
      position: absolute;
      width: inherit; }
      .mobile-words-con .mobile-words-buttons .go-left, .mobile-words-con .mobile-words-buttons .go-right {
        cursor: pointer; }
      .mobile-words-con .mobile-words-buttons .go-left {
        background: url("../img/words-up.png") no-repeat center center transparent;
        position: absolute;
        height: 46px;
        width: 96px;
        top: -50px;
        margin-left: -48px;
        left: 50%; }
      .mobile-words-con .mobile-words-buttons .go-right {
        background: url("../img/words-down.png") no-repeat center center transparent;
        position: absolute;
        height: 46px;
        width: 96px;
        bottom: -50px;
        margin-left: -48px;
        left: 50%; }
      .mobile-words-con .mobile-words-buttons .about-word {
        width: 370px;
        font-family: Arial,sans-serif;
        color: #FFF;
        font-size: 1.6em;
        padding-top: 100px;
        padding-bottom: 15px;
        text-align: center; }
    .mobile-words-con .mobile-words {
      display: block !important;
      overflow: hidden;
      position: absolute;
      height: inherit;
      width: inherit; }
      .mobile-words-con .mobile-words div {
        width: 370px;
        height: 90px;
        position: absolute; }
        .mobile-words-con .mobile-words div#diligent {
          background: url("../img/words/diligent.png") no-repeat center center;
          background-size: 100% auto; }
        .mobile-words-con .mobile-words div#courageous {
          background: url("../img/words/courageous.png") no-repeat center center;
          background-size: 100% auto; }
        .mobile-words-con .mobile-words div#knowledgeable {
          background: url("../img/words/knowledgeable.png") no-repeat center center;
          background-size: 100% auto; }
        .mobile-words-con .mobile-words div#creative {
          background: url("../img/words/creative.png") no-repeat center center;
          background-size: 100% auto; }
        .mobile-words-con .mobile-words div#adept {
          background: url("../img/words/adept.png") no-repeat center center;
          background-size: 100% auto; }
        .mobile-words-con .mobile-words div#methodical {
          background: url("../img/words/methodical.png") no-repeat center center;
          background-size: 100% auto; }
        .mobile-words-con .mobile-words div#honest {
          background: url("../img/words/honest.png") no-repeat center center;
          background-size: 100% auto; }

  #contact.page p {
    background: url("../img/header-contact.png") no-repeat scroll 56px 0 rgba(0, 0, 0, 0) !important;
    padding-top: 67px !important;
    color: #FFF !important;
    font-size: 16px !important;
    left: 24% !important;
    line-height: 24px !important;
    padding-left: 52px !important;
    position: absolute !important;
    top: 120px !important;
    width: 360px !important; }
  #contact.page img.icon-email {
    left: -34px !important;
    position: absolute !important;
    top: 46px !important; }
  #contact.page img.map {
    left: 0 !important;
    position: absolute !important;
    top: 370px !important;
    opacity: 1 !important; } }
@media (max-width: 1280px) and (orientation: landscape) {
  .who-we-are-two.page p, .who-we-are-one.page p {
    padding-top: 147px !important;
    color: #FFF !important;
    font-size: 16px !important;
    left: 90px !important;
    line-height: 24px !important;
    padding-left: 52px !important;
    position: absolute !important;
    top: 150px !important;
    width: 512px !important; }

  .words {
    display: none !important; }

  .mobile-words-con {
    width: 370px;
    height: 90px;
    position: absolute;
    right: 90px;
    top: 223px; }
    .mobile-words-con .mobile-words-buttons {
      display: block !important;
      position: absolute;
      width: inherit; }
      .mobile-words-con .mobile-words-buttons .go-left, .mobile-words-con .mobile-words-buttons .go-right {
        cursor: pointer; }
      .mobile-words-con .mobile-words-buttons .go-left {
        background: url("../img/words-up.png") no-repeat center center transparent;
        position: absolute;
        height: 46px;
        width: 96px;
        top: -50px;
        margin-left: -48px;
        left: 50%; }
      .mobile-words-con .mobile-words-buttons .go-right {
        background: url("../img/words-down.png") no-repeat center center transparent;
        position: absolute;
        height: 46px;
        width: 96px;
        bottom: -50px;
        margin-left: -48px;
        left: 50%; }
      .mobile-words-con .mobile-words-buttons .about-word {
        width: 370px;
        font-family: Arial,sans-serif;
        color: #FFF;
        font-size: 1.6em;
        padding-top: 100px;
        padding-bottom: 15px;
        text-align: center; }
    .mobile-words-con .mobile-words {
      display: block !important;
      overflow: hidden;
      position: absolute;
      height: inherit;
      width: inherit; }
      .mobile-words-con .mobile-words div {
        width: 370px;
        height: 90px;
        position: absolute; }
        .mobile-words-con .mobile-words div#diligent {
          background: url("../img/words/diligent.png") no-repeat center center;
          background-size: 100% auto; }
        .mobile-words-con .mobile-words div#courageous {
          background: url("../img/words/courageous.png") no-repeat center center;
          background-size: 100% auto; }
        .mobile-words-con .mobile-words div#knowledgeable {
          background: url("../img/words/knowledgeable.png") no-repeat center center;
          background-size: 100% auto; }
        .mobile-words-con .mobile-words div#creative {
          background: url("../img/words/creative.png") no-repeat center center;
          background-size: 100% auto; }
        .mobile-words-con .mobile-words div#adept {
          background: url("../img/words/adept.png") no-repeat center center;
          background-size: 100% auto; }
        .mobile-words-con .mobile-words div#methodical {
          background: url("../img/words/methodical.png") no-repeat center center;
          background-size: 100% auto; }
        .mobile-words-con .mobile-words div#honest {
          background: url("../img/words/honest.png") no-repeat center center;
          background-size: 100% auto; } }
.mobile-words, .mobile-words-buttons {
  display: none; }

.about-one.page p {
  background: url("../img/header-about-1.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0); }

.about-two.page p {
  background: url("../img/header-about-2.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
  padding-top: 147px;
  left: 2.5%; }

.who-we-are-one.page p {
  background: url("../img/header-who-we-are-1.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0); }
.who-we-are-one.page strong.open-popup {
  cursor: pointer;
  display: inline-block; }
.who-we-are-one.page .popup {
  position: absolute;
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.75);
  bottom: -35%;
  width: 100%;
  padding: 15px 18%;
  font-size: 1.6em;
  padding-bottom: 35px;
  line-height: 1.9em;
  font-style: bold; }
  .who-we-are-one.page .popup .close-popup {
    background: url("../img/close-btn.png") no-repeat top center;
    position: absolute;
    top: -19px;
    width: 100%;
    left: 0;
    height: 19px;
    cursor: pointer; }
  .who-we-are-one.page .popup p {
    width: 500px;
    background: none;
    top: 0px !important;
    padding-top: 10px !important;
    color: #000 !important; }

.who-we-are-two.page p {
  background: url("../img/header-who-we-are-2.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0); }

#contact.page {
  background: none repeat scroll 0 0 #000;
  z-index: -2; }
  #contact.page p {
    background: url("../img/header-contact.png") no-repeat scroll 189px 0 rgba(0, 0, 0, 0);
    font-size: 19px;
    padding-top: 120px; }
    #contact.page p span {
      color: #2f7dc1; }
    #contact.page p strong {
      color: #2f7dc1;
      display: inline-block;
      font-size: 1.15em;
      margin-bottom: 9px; }
    #contact.page p span.hr {
      display: block;
      height: 1px;
      margin: 30px 0;
      width: 330px; }
    #contact.page p small {
      font-size: 0.85em; }
  #contact.page img.icon-email {
    left: 110px;
    position: absolute;
    top: 96px; }
  #contact.page img.map {
    left: 550px;
    position: absolute;
    top: -25px;
    opacity: 1; }
  #contact.page video.contact-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    opacity: 0.25; }
  #contact.page a:hover {
    color: inherit; }

.home.page {
  top: 0%; }

.error.page {
  text-align: center;
  background: #000; }
  .error.page .center {
    display: inline-block;
    vertical-align: middle;
    width: 750px;
    font-size: 45px;
    color: #FFF; }
    .error.page .center em {
      display: block;
      font-weight: bold; }
  .error.page:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; }

#projects .page .gallery-mobile {
  display: none; }
#projects .page > div.p {
  top: 0;
  padding-top: 100px; }
  #projects .page > div.p h1 {
    font-size: 2.7em;
    letter-spacing: 0.2em;
    margin-bottom: 70px; }
#projects .page .arrow {
  bottom: 50px;
  left: 50%;
  margin-left: -23px;
  position: absolute; }
#projects .page .arrowup {
  top: 50px;
  left: 50%;
  margin-left: -23px;
  position: absolute; }
#projects .page table th {
  width: 115px;
  text-align: left;
  vertical-align: top;
  background: url("../img/arrow-stats.png") no-repeat 10px center;
  padding: 1px 7px 5px 22px;
  height: 25px;
  display: block;
  letter-spacing: 2px; }
#projects .page table td {
  padding: 4px 10px 0 0; }
#projects .page table th, #projects .page table td {
  margin-top: 3px;
  font-size: 14px; }

#testimonials.page .p {
  background: url("../img/header-testimonials-1.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
  color: #000; }

.page-bg {
  height: 100%;
  width: 100%;
  z-index: -10 !important; }
