@mixin fontfix {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.page {
	@include fontfix;
	&.who-we-are-two {
		p {
			a[href^=mailto] {
				text-decoration: underline;
				&:hover {
					color: #407CBA !important;
				}
			}
		}
	}
	&.about-two {
		p {
			a[href^=mailto] {
				text-decoration: underline;
				&:hover {
					color: #222400 !important;
				}
			}
		}
	}
}

@media (max-width: 1280px) and (orientation: portrait) {
	#projects .page {
		.gallery {
			display: none;
		}
		.case-study {
			display: none !important;
		}
		.down-page {
			display: none !important;
		}
		.p {
			padding-top: 0 !important;
			color: #FFF !important;
			font-size: 16px !important;
			left: 80px !important;
			line-height: 24px !important;
			padding-left: 52px !important;
			position: absolute !important;
			top: 90px !important;
			width: 480px !important;
		}
		h1 {
			text-align: center !important;
		}
		.gallery-mobile {
			display: block !important;
			width: 546px;
			height: 254px;
			position: absolute;
			bottom: 100px;
			left: 50%;
			margin-left: -273px;
			.go-left-mobile {
				position: absolute;
				left: 0px;
				cursor: pointer;
				top: 85px;
			}
			.go-right-mobile {
				position: absolute;
				right: 0px;
				cursor: pointer;
				top: 85px;
			}
			.clip {
				position: absolute;
				overflow: hidden;
				width: 354px;
				height: 254px;
				left: 50%;
				margin-left: -177px;
				.imgbox-mobile {
					position: absolute;
				}
			}
		}
	}
	.about-two.page {
		p {
			background: url("../img/header-about-2-mobile.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0) !important;
			padding-top: 147px !important;
			color: #FFF !important;
			font-size: 16px !important;
			left: 5% !important;
			line-height: 24px !important;
			padding-left: 52px !important;
			position: absolute !important;
			top: 20% !important;
			width: 350px !important;
		}
	}
	.about-one.page {
		p {
			padding-top: 147px !important;
			color: #FFF !important;
			font-size: 16px !important;
			left: 5% !important;
			line-height: 24px !important;
			padding-left: 52px !important;
			position: absolute !important;
			top: 30% !important;
			width: 350px !important;
		}
	}
	.who-we-are-one.page {
		p {
			padding-top: 147px !important;
			color: #FFF !important;
			font-size: 16px !important;
			left: 50% !important;
			line-height: 24px !important;
			padding-left: 52px !important;
			position: absolute !important;
			top: 150px !important;
			width: 512px !important;
			margin-left: -256px;
		}
		.popup {
			position: absolute;
			background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.75);
			bottom: -100%;
			width: 100%;
			height: auto !important;
			padding: 15px 18%;
			padding-bottom: 35px;
			font-size: 1.6em;
			line-height: 1.9em;
			font-style: bold;
			.close-popup {
				background: url('../img/close-btn.png') no-repeat top center;
				position: absolute;
				top: -19px;
				width: 100%;
				left: 0;
				height: 19px;
				cursor: pointer;
			}
			p {
				padding-top: 0px !important;
				color: #000 !important;
				font-size: 16px !important;
				left: 50% !important;
				line-height: 24px !important;
				padding-left: 0px !important;
				position: absolute !important;
				top: 10px !important;
				width: 450px !important;
				margin-left: -225px;
			}
		}
	}
	.who-we-are-two.page {
		p {
			padding-top: 147px !important;
			color: #FFF !important;
			font-size: 16px !important;
			left: 50% !important;
			line-height: 24px !important;
			padding-left: 52px !important;
			position: absolute !important;
			top: 150px !important;
			width: 512px !important;
			margin-left: -256px;
		}
	}
	.words {
		display: none !important;
	}
	.mobile-words-con {
		width: 370px;
		height: 90px;
		position: relative;
		left: 50%;
		margin-left: -185px;
		top: 586px;
		.mobile-words-buttons {
			display: block !important;
			position: absolute;
			width: inherit;
			.go-left, .go-right {
				cursor: pointer;
			}
			.go-left {
				background: url('../img/words-up.png') no-repeat center center transparent;
				position: absolute;
				height: 46px;
				width: 96px;
				top: -50px;
				margin-left: -48px;
				left: 50%;
			}
			.go-right {
				background: url('../img/words-down.png') no-repeat center center transparent;
				position: absolute;
				height: 46px;
				width: 96px;
				bottom: -50px;
				margin-left: -48px;
				left: 50%;
			}
			.about-word {
				width: 370px;
				font-family: Arial,sans-serif;
				color: #FFF;
				font-size: 1.6em;
				padding-top: 100px;
				padding-bottom: 15px;
				text-align: center;
			}
		}

		.mobile-words {
			display: block !important;
			overflow: hidden;
			position: absolute;
			height: inherit;
			width: inherit;
			div {
				width: 370px;
				height: 90px;
				position: absolute;
				&#diligent {
					background: url('../img/words/diligent.png') no-repeat center center;
					background-size: 100% auto;
				}
				&#courageous {
					background: url('../img/words/courageous.png') no-repeat center center;
					background-size: 100% auto;
				}
				&#knowledgeable {
					background: url('../img/words/knowledgeable.png') no-repeat center center;
					background-size: 100% auto;
				}
				&#creative {
					background: url('../img/words/creative.png') no-repeat center center;
					background-size: 100% auto;
				}
				&#adept {
					background: url('../img/words/adept.png') no-repeat center center;
					background-size: 100% auto;
				}
				&#methodical {
					background: url('../img/words/methodical.png') no-repeat center center;
					background-size: 100% auto;
				}
				&#honest {
					background: url('../img/words/honest.png') no-repeat center center;
					background-size: 100% auto;
				}
			}
		}
	}
	#contact.page {
		p {
			background: url("../img/header-contact.png") no-repeat scroll 56px 0 rgba(0, 0, 0, 0) !important;
			padding-top: 67px !important;
			color: #FFF !important;
			font-size: 16px !important;
			left: 24% !important;
			line-height: 24px !important;
			padding-left: 52px !important;
			position: absolute !important;
			top: 120px !important;
			width: 360px !important;
		}
		img.icon-email {
			left: -34px !important;
			position: absolute !important;
			top: 46px !important;
		}
		img.map {
			left: 0 !important;
			position: absolute !important;
			top: 370px !important;
			opacity: 1 !important;
		}
	}
}

@media (max-width: 1280px) and (orientation: landscape) {
	.who-we-are-two.page, .who-we-are-one.page {
		p {
			padding-top: 147px !important;
			color: #FFF !important;
			font-size: 16px !important;
			left: 90px !important;
			line-height: 24px !important;
			padding-left: 52px !important;
			position: absolute !important;
			top: 150px !important;
			width: 512px !important;
		}
	}
	.words {
		display: none !important;
	}
	.mobile-words-con {
		width: 370px;
		height: 90px;
		position: absolute;
		right: 90px;
		top: 223px;
		.mobile-words-buttons {
			display: block !important;
			position: absolute;
			width: inherit;
			.go-left, .go-right {
				cursor: pointer;
			}
			.go-left {
				background: url('../img/words-up.png') no-repeat center center transparent;
				position: absolute;
				height: 46px;
				width: 96px;
				top: -50px;
				margin-left: -48px;
				left: 50%;
			}
			.go-right {
				background: url('../img/words-down.png') no-repeat center center transparent;
				position: absolute;
				height: 46px;
				width: 96px;
				bottom: -50px;
				margin-left: -48px;
				left: 50%;
			}
			.about-word {
				width: 370px;
				font-family: Arial,sans-serif;
				color: #FFF;
				font-size: 1.6em;
				padding-top: 100px;
				padding-bottom: 15px;
				text-align: center;
			}
		}

		.mobile-words {
			display: block !important;
			overflow: hidden;
			position: absolute;
			height: inherit;
			width: inherit;
			div {
				width: 370px;
				height: 90px;
				position: absolute;
				&#diligent {
					background: url('../img/words/diligent.png') no-repeat center center;
					background-size: 100% auto;
				}
				&#courageous {
					background: url('../img/words/courageous.png') no-repeat center center;
					background-size: 100% auto;
				}
				&#knowledgeable {
					background: url('../img/words/knowledgeable.png') no-repeat center center;
					background-size: 100% auto;
				}
				&#creative {
					background: url('../img/words/creative.png') no-repeat center center;
					background-size: 100% auto;
				}
				&#adept {
					background: url('../img/words/adept.png') no-repeat center center;
					background-size: 100% auto;
				}
				&#methodical {
					background: url('../img/words/methodical.png') no-repeat center center;
					background-size: 100% auto;
				}
				&#honest {
					background: url('../img/words/honest.png') no-repeat center center;
					background-size: 100% auto;
				}
			}
		}
	}
}

.mobile-words, .mobile-words-buttons {
	display: none;
}

.about-one.page {
	p {
		background: url("../img/header-about-1.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
	}
}

.about-two.page {
	p {
		background: url("../img/header-about-2.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
		padding-top: 147px;
		left: 2.5%;
	}
}

.who-we-are-one.page {
	p {
		background: url("../img/header-who-we-are-1.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
	}
	strong.open-popup {
		cursor: pointer;
		display: inline-block;
	}
	.popup {
		position: absolute;
		background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.75);
		bottom: -35%;
		width: 100%;
		padding: 15px 18%;
		font-size: 1.6em;
		padding-bottom: 35px;
		line-height: 1.9em;
		font-style: bold;
		.close-popup {
			background: url('../img/close-btn.png') no-repeat top center;
			position: absolute;
			top: -19px;
			width: 100%;
			left: 0;
			height: 19px;
			cursor: pointer;
		}
		p {
			width: 500px;
			background: none;
			top: 0px !important;
			padding-top: 10px !important;
			color: #000 !important;
		}
	}
}

.who-we-are-two.page {
	p {
		background: url("../img/header-who-we-are-2.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
	}
}

#contact.page {
	background: none repeat scroll 0 0 #000;
	z-index: -2;
	p {
		background: url("../img/header-contact.png") no-repeat scroll 189px 0 rgba(0, 0, 0, 0);
		font-size: 19px;
		padding-top: 120px;
		span {
			color: #2f7dc1;
		}
		strong {
			color: #2f7dc1;
			display: inline-block;
			font-size: 1.15em;
			margin-bottom: 9px;
		}
		span.hr {
			//background-color: #505050;
			display: block;
			height: 1px;
			margin: 30px 0;
			width: 330px;
		}
		small {
			font-size: 0.85em;
		}
	}
	img.icon-email {
		left: 110px;
		position: absolute;
		top: 96px;
	}
	img.map {
		left: 550px;
		position: absolute;
		top: -25px;
		opacity: 1;
	}
	video.contact-bg { 
		position: absolute; right: 0; bottom: 0;
		min-width: 100%; min-height: 100%;
		width: auto; height: auto; z-index: -1;
		opacity: 0.25;
	}
	a:hover {
		color: inherit;
	}

}

.home.page {
	top: 0%;
}

.error.page {
	text-align: center;
	background: #000;
	.center {
		display: inline-block;
		vertical-align: middle;
		width: 750px;
		font-size: 45px;
		color: #FFF;
		em {
			display: block;
			font-weight: bold;
		}
	}
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}
}

#projects .page {
	.gallery-mobile {
		display: none;
	}
	&>div.p {
		top: 0;
		padding-top: 100px;
		h1 {
			font-size: 2.7em;
			letter-spacing: 0.2em;
			margin-bottom: 70px;
		}
	}
	.arrow {
		bottom: 50px;
		left: 50%;
		margin-left: -23px;
		position: absolute;
	}
	.arrowup {
		top: 50px;
		left: 50%;
		margin-left: -23px;
		position: absolute;
	}
	table {
		th {
			width: 115px;
			text-align: left;
			vertical-align: top;
			background: url("../img/arrow-stats.png") no-repeat 10px center;
			padding: 1px 7px 5px 22px;
			height: 25px;
			display: block;
			letter-spacing: 2px;
		}
		td {
			padding: 4px 10px 0 0;
		}
		th, td {
			margin-top: 3px;
			font-size: 14px;
		}
	}
}

#testimonials.page {
	.p {
		background: url("../img/header-testimonials-1.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
		color: #000;
	}
}

.page-bg {
	height: 100%;
	width: 100%;
	z-index: -10 !important;
}