@import 'normalize.css';

/* == Variables == */

$brand: #a1a739;
$text: #414042;
$text2: #464a4f;

$gudea: 'Gudea',arial,sans-serif;
$abel: 'Abel',arial,sans-serif;

/* == Mixins == */

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
     -moz-box-sizing: $sizing;
      -ms-box-sizing: $sizing;
       -o-box-sizing: $sizing;
          box-sizing: $sizing;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin font-size($size: 1.6, $line: 1.4) {
	font-size:   ($size * 10) + px;
	font-size:   $size + rem;
	line-height: $line;
}

@mixin font-size-static($size: 1.6, $line: 1.4) {
	font-size:   ($size * 10) + px;
	line-height: $line;
}

@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow:    $shadow;
	box-shadow:         $shadow;
}

@mixin font-amatic($spacing: 0.03, $transform: uppercase) {
	font-family: $amatic;
	font-weight: bold;
	text-transform: $transform;
	letter-spacing: -($spacing)+em;
}

@mixin transition($trans) {
	-moz-transition: $trans; 
	-webkit-transition: $trans; 
	-o-transition: $trans;
	transition: $trans;
}

@mixin transform($trans) {
	-moz-transform: $trans; 
	-webkit-transform: $trans; 
	-o-transform: $trans;
	transform: $trans;
}

@mixin translateY($trans) {
	-webkit-transform: translateY($trans);
	-moz-transform: translateY($trans);
	-ms-transform: translateY($trans);
	-o-transform: translateY($trans);
	transform: translateY($trans);
}

@mixin fontfix {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: always;
	transform: rotate(-0.0000000001deg);
}

/* == Extensions */

.horizontal {
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
		display: inline;

		&:first-child {
			margin-left: 0;
			padding-left: 0;
			border-left: none;
		}

		&:last-child {
			margin-right: 0;
			padding-right: 0;
			border-right: none;
		}
	}
}

.cf {
	&:before,
	&:after {
	    content: " ";
	    display: table;
	}

	&:after {
	    clear: both;
	}

    *zoom: 1;
}

.container {
	@extend .cf;
	width: 970px;
	margin: 0 auto;
	position: relative;
}

.ctr {
	text-align: center;
}

/* == Styles == */

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $gudea;
	overflow: hidden;
	height: 100%;
}

#pages {
	height: 100%;
	max-height: 100%;
	overflow: hidden;
}

* {	
	@include box-sizing(border-box);
}

a {
	color: #fff;
	text-decoration: none;

	&:hover {
		color: #407CBA;
	}
}

header {
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;

	.logo {
		width: 94px;
		height: 158px;
		padding-top: 77px;
		margin-bottom: 2px;
		background: #000;
	}

	.nav-toggle {
		background: #000 url(../img/open-menu.jpg) no-repeat center center;
		display: block;
		width: 94px;
		height: 27px;
		cursor: pointer;
	}

	nav {
		position: absolute;
		top: 0;
		left: -160px;
		width: 158px;
		height: 100%;
		@include font-size(1.4);
		text-align: center;

		.nav-top {
			background: #000;
			height: 158px;
			margin-bottom: 2px;
			padding-top: 50px;
		}

		ul {
			margin: 0;
			padding: 30px 20px 0;
			background: #000;
			height: 100%;

			li {
				list-style-type: none;
				background: url(../img/bg-nav.png) no-repeat top center;
				padding-top: 23px;
				margin: 20px 0;

				&:first-child {
					background: none;
					margin-top: 0;
				}
			}
		}

		a {
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 2px;
			padding-top: 30px;
			display: block;

			&.btn-contact {
				background: url(../img/icon-contact.png) no-repeat top center;
			}
			&.btn-about {
				background: url(../img/icon-megaphone.png) no-repeat top center;
			}
			&.btn-testimonials {
				background: url(../img/icon-heart.png) no-repeat top center;
			}
			&.btn-whoweare {
				background: url(../img/icon-thumb.jpg) no-repeat top center;
				padding-top: 35px;
			}
			&.btn-portfolio {
				background: url(../img/icon-portfolio.png) no-repeat top center;
			}

			&:hover {
				color: #407cba;
			}
		}
	}
}

#slider {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	// opacity: 0;

	.background {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		z-index: 1;

		.slide {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;

			img {
				width: 100%;
			}
		}
	}

	.foreground {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		z-index: 2;

		.slide {
			position: absolute;
			width: 970px;
			height: 100%;
			left: 50%;
			margin-left: -485px;
		}

		.slide-pane {
			width: 311px;
			height: 100%;
			position: relative;
			margin-left: 241px;
			overflow: hidden;
			// border-left: 1px solid #000;
			// border-right: 1px solid #000;
			// @include box-shadow(0 0 30px 10px rgba(0,0,0,0.5));

			.slide-pane-blurmask {
				height: 100%;
				width: 100%;
				overflow: hidden;
				position: absolute;
				z-index: 1;
				// background: rgba(0,0,0,0.6);
				top: 0;
				left: 0;

				canvas {
					position: absolute;
					// height: 100%;
				}

				img {
					position: absolute;
					height: 100%;
				}
			}

			.slide-pane-content {
				padding-top: 147px;
				color: #fff;
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
			}

			.border {
				height: 6px;
				width: 70px;
				background: #407cba;
				margin: 0;
			}

			h2 {
				font-family: $abel;
				@include font-size(7.5, 0.8);
				font-weight: normal;
				margin: 3px 0 20px -6px;;
			}

			p {
				font-family: arial,sans-serif;
				text-align: left;
				font-weight: bold;
				padding: 0 35px;
				@include font-size(1.6, 1.8);
				@include fontfix;
			}

			.read-more {
				margin: 40px 0 40px -24px;
				position: absolute;
				bottom: 0;
				left: 50%;
			}
		}
	}

	.slider-nav {
		position: absolute;
		top: 158px;
		left: 100%;
		z-index: 3;

		.slider-nav-inner {
			@extend .cf;
			position: absolute;
			left: -81px;
			top: 0;
			width: 1000px;
		}

		.slider-arrow {
			float: left;
			width: 81px;
			height: 37px;
			background: #000 url(../img/icon-arrow.png) no-repeat right center;
			cursor: pointer;
		}
		.slider-pager {
			@extend .cf;
			float: left;
			// display: inline-block;

			a {
				@include font-size(1.4);
				font-weight: bold;
				float: left;
				background: #000;
				height: 37px;
				width: 21px;
				margin-left: 2px;
				text-align: center;
				padding-top: 9px;
				text-decoration: underline;

				&.activeSlide {
					color: #407CBA;
				}
			}
		}

	}
}

.arrow {
	bottom: 30px;
	left: 50%;
	margin-left: -23px;
	position: absolute;
}

.testimonial-slider {
	font-size: 14px;
	height: 250px;
	padding-left: 60px;
	position: absolute;
	right: -660px;
	top: 0;
	width: 630px;
	.quote-start {
		padding-bottom: 15px;
	}
	.quote-end {
		left: 60px;
		position: absolute;
		top: 217px;
	}
	.testimonial-clip {
		height: 150px;
		overflow-y: scroll;
		overflow-x: hidden;
		position: relative;
	}
	.nav-btns {
		color: #fff;
		left: 0;
		position: absolute;
		top: 0;
		.nav-btn {
			background: none repeat scroll 0 0 #2f7dc1;
			border-radius: 32px;
			height: 30px;
			margin: 10px 0;
			padding-top: 3px;
			text-align: center;
			width: 30px;
			cursor: pointer;
			&:hover {
				background: #b3c235;
			}
		}
	}
	.testimonial {
		position: absolute;
		top: 170px;
		display: none;
		.name {
			color: #4495d1;
			font-size: 1.55em;
			font-weight: bold;
		}
		.title {
			font-size: 1.1em;
			font-style: italic;
		}
		p {
			position: relative;
			top: -12px;
		}
	}
}

.gallery {
	width: 510px;
	position: absolute;
	right: 0;
	bottom: 0;
	.imgbox {
		position: absolute;
		overflow: hidden;
		img {
			height: 100%;
			width: auto;
		}
	}
	.h1 {
		height: 170px;
	}
	.w1 {
		width: 170px;
	}
	.h2 {
		height: 340px;
	}
	.w2 {
		width: 340px;
	}
	.w3 {
		width: 510px;
	}
	.w4 {
		width: 680px;
	}
}

.words {
	width: 710px;
	position: absolute;
	right: 9%;
	top: 0;
	height: 100%;
	min-height: 1060px;
	z-index: -100;
	div {
		position: absolute;
	}
	#diligent {
		right: 0px;
	}
	#courageous {
		right: 110px;
	}
	#knowledgeable {
		right: 70px;
	}
	#creative {
		right: 95px;
	}
	#adept {
		right: 175px;
	}
	#methodical {
		right: 60px;
	}
	#honest {
		right: 5px;
	}
}
.speechbubble {
	background: url("../img/speechbubble.png") no-repeat scroll 0% 0% transparent;
	width: 194px;
	height: 105px;
	padding: 30px 30px;
	position: absolute;
	font-size: 14px;
	pointer-events:none;
	&.large {
		background: url("../img/speechbubble-large.png") no-repeat scroll 0% 0% transparent;
		width: 315px;
		height: 170px;
		padding: 45px 45px;
		margin-left: -106px;
		margin-top: -55px;
	}
	&.mediumlarge {
		background: url("../img/speechbubble-mediumlarge.png") no-repeat scroll 0% 0% transparent;
		width: 254px;
		height: 105px;
		padding: 30px 30px;
		margin-left: -53px;
	}
	&.medium {
		background: url("../img/speechbubble-medium.png") no-repeat scroll 0% 0% transparent;
		width: 224px;
		height: 105px;
		padding: 30px 30px;
		margin-left: -33px;
	}
	&.long {
		background: url("../img/speechbubble-long.png") no-repeat scroll 0% 0% transparent;
		width: 334px;
		height: 105px;
		padding: 30px 30px;
		margin-left: -140px;
	}
}
.top-nav {
	position: absolute;
	top: 0;
	left: 310px;
	z-index: 99999999;
	.chunk {
		background: #000;
		color: #FFF;
		font-size: 1.4em;
		display: inline-block;
		margin-left: 3px;
    	margin-right: 3px;
		height: 36px;
		vertical-align: top;
		padding: 10px 15px 0 15px;
		font-weight: bold;
		letter-spacing: 1.3px;
		em {
			font-style: normal;
		}
		&.case-study {
			background: url('../img/briefcase.jpg') left center no-repeat #000;
			padding-left: 35px;
			width: 208px;
		}
		&.down-page {
			background: #000 url('../img/arrow-down.png') center bottom 6px no-repeat;
			width: 150px;
			height: auto;
			padding: 5px 5px 36px 5px;
			cursor: pointer;
			img {
				padding: 5px;
			}
			position: absolute;
			left: 291px;
			transition: all 0.3s;
			bottom: 0;
			&.open {
				bottom: -253px;
				background: #000 url('../img/arrow-up-drawer.png') center bottom 6px no-repeat;
			}
		}
	}
}
.page {
	background-color: #fff;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	&:not(#home) {
		&>p, &>.p {
			color: #fff;
			font-size: 16px;
			left: 9%;
			line-height: 24px;
			padding-left: 192px;
			padding-top: 160px;
			position: absolute;
			top: 30%;
			width: 630px;
		}
		overflow: hidden;
		// z-index: 1;
	}
}
#projects a.arrow, #projects a.arrowup {
	position:relative;
	z-index: 9999999;
}
#projects a.arrow[data-hide=true], #projects a.arrowup[data-hide=true]{
	display: none;
}
.fancybox-skin {
	background: none repeat scroll 0px center transparent !important;
	box-shadow: none !important;
	.fancybox-inner {
		border: 1px white solid !important;
	}
}
.read-more-extra {
    position: absolute;
    bottom: 76px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}