<script>
	$(document).ready(function(){
		use('projects/420-george').backstretch('img/bg/projects/420-george.jpg',{ 'centeredX': false });
		use('projects/420-george').find('.top-nav .chunk em').css('color','#746a9e');

		onUnload('projects/420-george',function(){
			setTimeout(function(){
				use('projects/420-george').children('.top-nav').children('.down-page').removeClass('open');
			},2);
		});

		onLoad('projects/420-george',function(){
            _gaq.push(['_trackPageview', document.location.pathname]);
            console.log("tracked "+document.location.pathname);
        });

		setupMobileGallery('projects-420-george');
	});
</script>

<div class="top-nav">
	<div class="chunk case-study">
		OUR WORK
	</div>
	<div class="chunk">
		<em>{{ projects->position }}</em> of <em>{{ projects->count }}</em>
	</div>
	<div class="chunk down-page">
		{{ projectsNav }}
	</div>
</div>

<a class="arrow" data-hide="{{ projects->end? }}" href="{{ projects->next }}"><img src="img/arrow.png" alt="Click to go to the next project"/></a>
<a class="arrowup" data-hide="{{ projects->start? }}" href="{{ projects->prev }}"><img src="img/arrow-up.png" alt="Click to go to the previous project"/></a>


<div class="p">
	<h1>420 GEORGE</h1>
	<p>
		Where once there were two dilapidated store fronts in a three-storey walkup in downtown Peterborough, now there stands a single, distinctive boutique retail and office complex—an elegant combination of urban modernism and restoration architecture. 
	</p>
	<table>
		<tr>
			<th>LOCATION</th>
			<td>George Street North, Peterborough</td>
		</tr>
		<tr>
			<th>SIZE</th>
			<td>13,500 square feet</td>
		</tr>
		<tr>
			<th>FUN FACT</th>
			<td>To open the floor plate, the interior skeleton of the building was removed and replaced with a new structural steel support structure. </td>
		</tr>
	</table>
</div>


<div class="gallery"> <!-- h# = height, w# = width, data-pos-x = the x position (counting from right to left), data-pos-y = the y position (counting from bottom to top) -->
	<div class="imgbox w2 h1" data-pos-x="1" data-pos-y="5"><a class="fancybox" rel="ft" href="img/galleries/420-george/1.jpg"><img src="img/galleries/420-george/thumb1.jpg" alt="Decrotive lights at the 420 george office"></a></div>
	<div class="imgbox w1 h1" data-pos-x="2" data-pos-y="4"><a class="fancybox" rel="ft" href="img/galleries/420-george/2.jpg"><img src="img/galleries/420-george/thumb2.jpg" alt="Interior of washroom at 420 george"></a></div>
	<div class="imgbox w1 h1" data-pos-x="1" data-pos-y="4"><a class="fancybox" rel="ft" href="img/galleries/420-george/3.jpg"><img src="img/galleries/420-george/thumb3.jpg" alt="Interior wall of 420 george"></a></div>
	<div class="imgbox w1 h2" data-pos-x="3" data-pos-y="2"><a class="fancybox" rel="ft" href="img/galleries/420-george/4.jpg"><img src="img/galleries/420-george/thumb4.jpg" alt="Stairs at 420 george"></a></div>
	<div class="imgbox w1 h1" data-pos-x="2" data-pos-y="3"><a class="fancybox" rel="ft" href="img/galleries/420-george/5.jpg"><img src="img/galleries/420-george/thumb5.jpg" alt="Closeup of stairs at 420 george"></a></div>
	<div class="imgbox w1 h1" data-pos-x="1" data-pos-y="3"><a class="fancybox" rel="ft" href="img/galleries/420-george/6.jpg"><img src="img/galleries/420-george/thumb6.jpg" alt="Exterior view of 420 george"></a></div>
	<div class="imgbox w2 h2" data-pos-x="1" data-pos-y="1"><a class="fancybox" rel="ft" href="img/galleries/420-george/7.jpg"><img src="img/galleries/420-george/thumb7.jpg" alt="Lit exterior of 420 george at night"></a></div>
</div>

<div class="gallery-mobile">
	<img src="img/arrow-gallery-left.png" class="arrow-gallery go-left-mobile" alt="Scroll left"/>
	<img src="img/arrow-gallery-right.png" class="arrow-gallery go-right-mobile" alt="Scroll right"/>
	<div class="clip">
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/420-george/1.jpg"><img src="img/galleries/420-george/thumb1-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/420-george/2.jpg"><img src="img/galleries/420-george/thumb2-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/420-george/4.jpg"><img src="img/galleries/420-george/thumb4-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/420-george/3.jpg"><img src="img/galleries/420-george/thumb3-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/420-george/6.jpg"><img src="img/galleries/420-george/thumb6-mobile.jpg"></a></div>
	</div>
</div>