<script type="text/javascript" src="js/gallery-mobile.js"></script>

<script>
	$(document).ready(function(){
		use('projects/americredit').backstretch('img/bg/projects/americredit.jpg',{ 'centeredX': false });
		use('projects/americredit').find('.top-nav .chunk em').css('color','#c2a523');

		onUnload('projects/americredit',function(){
			setTimeout(function(){
				use('projects/americredit').children('.top-nav').children('.down-page').removeClass('open');
			},2);
		});

		onLoad('projects/americredit',function(){
            _gaq.push(['_trackPageview', document.location.pathname]);
            console.log("tracked "+document.location.pathname);
        });

		setupMobileGallery('projects-americredit');
	});
</script>

<div class="top-nav">
	<div class="chunk case-study">
		OUR WORK
	</div>
	<div class="chunk">
		<em>{{ projects->position }}</em> of <em>{{ projects->count }}</em>
	</div>
	<div class="chunk down-page">
		{{ projectsNav }}
	</div>
</div>

<a class="arrow" data-hide="{{ projects->end? }}" href="{{ projects->next }}"><img src="img/arrow.png" alt="Click to go to the next project"/></a>
<a class="arrowup" data-hide="{{ projects->start? }}" href="{{ projects->prev }}"><img src="img/arrow-up.png" alt="Click to go to the previous project"/></a>

<div class="p">
	<h1>AMERICREDIT</h1>
	<p>
		AmeriCredit is the daily workplace for more than 400 employees. The original estimate for the project’s dramatic ceiling design was giant.  Through Signum’s efforts the concept was realized, the cost reduced by 50% with a six-figure savings over the initial estimate. 
	</p>
	<table>
		<tr>
			<th>LOCATION</th>
			<td>Jameson Drive, Peterborough</td>
		</tr>
		<tr>
			<th>SIZE</th>
			<td>89,000 square feet</td>
		</tr>
		<tr>
			<th>FUN FACT</th>
			<td>Signum won this contract against international competition, then completed it in 28 weeks.</td>
		</tr>
	</table>
</div>


<div class="gallery"> <!-- h# = height, w# = width, data-pos-x = the x position (counting from right to left), data-pos-y = the y position (counting from bottom to top) -->
	<div class="imgbox w1 h1" data-pos-x="1" data-pos-y="5"><a class="fancybox" rel="ac" href="img/galleries/americredit/1.jpg"><img src="img/galleries/americredit/thumb1.jpg" alt="Interior shot of Americredit's building"></a></div>
	<div class="imgbox w2 h1" data-pos-x="1" data-pos-y="4"><a class="fancybox" rel="ac" href="img/galleries/americredit/2.jpg"><img src="img/galleries/americredit/thumb2.jpg" alt="Seating area inside Americredit's building"></a></div>
	<div class="imgbox w1 h1" data-pos-x="1" data-pos-y="3"><a class="fancybox" rel="ac" href="img/galleries/americredit/5.jpg"><img src="img/galleries/americredit/thumb5.jpg" alt="Decorotive scultpure inside Americredit's building"></a></div>
	<div class="imgbox w1 h1" data-pos-x="2" data-pos-y="3"><a class="fancybox" rel="ac" href="img/galleries/americredit/4.jpg"><img src="img/galleries/americredit/thumb4.jpg" alt="Exterior of Americredit's building"></a></div>
	<div class="imgbox w1 h2" data-pos-x="3" data-pos-y="2"><a class="fancybox" rel="ac" href="img/galleries/americredit/3.jpg"><img src="img/galleries/americredit/thumb3.jpg" alt="Another shot of the seating area inside Americredit's building"></a></div>
	<div class="imgbox w2 h2" data-pos-x="1" data-pos-y="1"><a class="fancybox" rel="ac" href="img/galleries/americredit/6.jpg"><img src="img/galleries/americredit/thumb6.jpg" alt="The view from the front, of the exterior of Americredit's building"></a></div>
</div>

<div class="gallery-mobile">
	<img src="img/arrow-gallery-left.png" class="arrow-gallery go-left-mobile" alt="Scroll left"/>
	<img src="img/arrow-gallery-right.png" class="arrow-gallery go-right-mobile" alt="Scroll right"/>
	<div class="clip">
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/americredit/1.jpg"><img src="img/galleries/americredit/thumb1-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/americredit/2.jpg"><img src="img/galleries/americredit/thumb2-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/americredit/5.jpg"><img src="img/galleries/americredit/thumb5-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/americredit/4.jpg"><img src="img/galleries/americredit/thumb4-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/americredit/3.jpg"><img src="img/galleries/americredit/thumb3-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/americredit/6.jpg"><img src="img/galleries/americredit/thumb6-mobile.jpg"></a></div>
	</div>
</div>