<script>
	$(document).ready(function(){
		use('projects/bell').backstretch('img/bg/projects/bell.jpg',{ 'centeredX': false });
		use('projects/bell').find('.top-nav .chunk em').css('color','#67a3d9');

		onUnload('projects/bell',function(){
			setTimeout(function(){
				use('projects/bell').children('.top-nav').children('.down-page').removeClass('open');
			},2);
		});

		onLoad('projects/bell',function(){
            _gaq.push(['_trackPageview', document.location.pathname]);
            console.log("tracked "+document.location.pathname);
        });

		setupMobileGallery('projects-bell');
	});
</script>

<div class="top-nav">
	<div class="chunk case-study">
		OUR WORK
	</div>
	<div class="chunk">
		<em>{{ projects->position }}</em> of <em>{{ projects->count }}</em>
	</div>
	<div class="chunk down-page">
		{{ projectsNav }}
	</div>
</div>

<a class="arrow" data-hide="{{ projects->end? }}" href="{{ projects->next }}"><img src="img/arrow.png" alt="Click to go to the next project"/></a>
<a class="arrowup" data-hide="{{ projects->start? }}" href="{{ projects->prev }}"><img src="img/arrow-up.png" alt="Click to go to the previous project"/></a>


<div class="p">
	<h1>BELL CANADA</h1>
	<p>
		With only seven days’ notice, Signum delivered a winning design-build-lease proposal for this Kingston call centre. Then we executed as planned, accomplishing the project, ahead of schedule and on budget. 
	</p>
	<table>
		<tr>
			<th>LOCATION</th>
			<td>Kingston</td>
		</tr>
		<tr>
			<th>SIZE</th>
			<td>40,000 square feet</td>
		</tr>
		<tr>
			<th>FUN FACT</th>
			<td>Using cutting-edge technology at the time, Signum installed a web camera on site, allowing clients to monitor the entire construction process remotely.</td>
		</tr>
	</table>
</div>


<div class="gallery"> <!-- h# = height, w# = width, data-pos-x = the x position (counting from right to left), data-pos-y = the y position (counting from bottom to top) -->
	<div class="imgbox w1 h1" data-pos-x="3" data-pos-y="4"><a class="fancybox" rel="bell" href="img/galleries/bell/1.jpg"><img src="img/galleries/bell/thumb1.jpg" alt="Exterior lawn of bell's call centre"></a></div>
	<div class="imgbox w2 h2" data-pos-x="1" data-pos-y="4"><a class="fancybox" rel="bell" href="img/galleries/bell/2.jpg"><img src="img/galleries/bell/thumb2.jpg" alt="Cubicles and offices inside of bell's call centre"></a></div>
	<div class="imgbox w1 h1" data-pos-x="4" data-pos-y="2"><a class="fancybox" rel="bell" href="img/galleries/bell/3.jpg"><img src="img/galleries/bell/thumb3.jpg" alt="Exterior of bell's new call centre as seen from the parking lot"></a></div>
	<div class="imgbox w1 h2" data-pos-x="3" data-pos-y="2"><a class="fancybox" rel="bell" href="img/galleries/bell/4.jpg"><img src="img/galleries/bell/thumb4.jpg" alt="Board room at bell's new call centre"></a></div>
	<div class="imgbox w2 h1" data-pos-x="1" data-pos-y="3"><a class="fancybox" rel="bell" href="img/galleries/bell/5.jpg"><img src="img/galleries/bell/thumb5.jpg" alt="Another shot of the lawn out front of bell's new call centre"></a></div>
	<div class="imgbox w2 h2" data-pos-x="1" data-pos-y="1"><a class="fancybox" rel="bell" href="img/galleries/bell/6.jpg"><img src="img/galleries/bell/thumb6.jpg" alt="Front entrance of bell's new call centre"></a></div>
</div>

<div class="gallery-mobile">
	<img src="img/arrow-gallery-left.png" class="arrow-gallery go-left-mobile" alt="Scroll left"/>
	<img src="img/arrow-gallery-right.png" class="arrow-gallery go-right-mobile" alt="Scroll right"/>
	<div class="clip">
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/bell/1.jpg"><img src="img/galleries/bell/thumb1-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/bell/2.jpg"><img src="img/galleries/bell/thumb2-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/bell/5.jpg"><img src="img/galleries/bell/thumb5-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/bell/4.jpg"><img src="img/galleries/bell/thumb4-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/bell/3.jpg"><img src="img/galleries/bell/thumb3-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/bell/6.jpg"><img src="img/galleries/bell/thumb6-mobile.jpg"></a></div>
	</div>
</div>