<script>
	$(document).ready(function(){
		use('projects/ems').backstretch('img/bg/projects/ems.jpg',{ 'centeredX': false });
		use('projects/ems').find('.top-nav .chunk em').css('color','#a1998b');

		onUnload('projects/ems',function(){
			setTimeout(function(){
				use('projects/ems').children('.top-nav').children('.down-page').removeClass('open');
			},2);
		});

		onLoad('projects/ems',function(){
            _gaq.push(['_trackPageview', document.location.pathname]);
            console.log("tracked "+document.location.pathname);
        });

		setupMobileGallery('projects-ems');
	});
</script>

<div class="top-nav">
	<div class="chunk case-study">
		OUR WORK
	</div>
	<div class="chunk">
		<em>{{ projects->position }}</em> of <em>{{ projects->count }}</em>
	</div>
	<div class="chunk down-page">
		{{ projectsNav }}
	</div>
</div>

<a class="arrow" data-hide="{{ projects->end? }}" href="{{ projects->next }}"><img src="img/arrow.png" alt="Click to go to the next project"/></a>
<a class="arrowup" data-hide="{{ projects->start? }}" href="{{ projects->prev }}"><img src="img/arrow-up.png" alt="Click to go to the previous project"/></a>


<div class="p">
	<h1>EMS</h1>
	<p>
		Working with multiple public sector partners, this former manufacturing facility was transformed into a functional, efficient facility that comfortably houses all necessary emergency vehicles, personnel, crew, offices and meeting rooms. 
	</p>
	<table>
		<tr>
			<th>LOCATION</th>
			<td>Armour Road, Peterborough</td>
		</tr>
		<tr>
			<th>SIZE</th>
			<td>41,500 square feet</td>
		</tr>
		<tr>
			<th>FUN FACT</th>
			<td>Features 20,000 square feet of indoor parking to house emergency vehicles.</td>
		</tr>
	</table>
</div>


<div class="gallery"> <!-- h# = height, w# = width, data-pos-x = the x position (counting from right to left), data-pos-y = the y position (counting from bottom to top) -->
	<div class="imgbox w2 h2" data-pos-x="1" data-pos-y="4"><a class="fancybox" rel="ems" href="img/galleries/ems/1.jpg"><img src="img/galleries/ems/thumb1.jpg" alt="EMS Peterborough's front lawn and sign"></a></div>
	<div class="imgbox w2 h2" data-pos-x="1" data-pos-y="2"><a class="fancybox" rel="ems" href="img/galleries/ems/2.jpg"><img src="img/galleries/ems/thumb2.jpg" alt="EMS vehicles parked in EMS Peterborough's parking area"></a></div>
	<div class="imgbox w1 h1" data-pos-x="3" data-pos-y="3"><a class="fancybox" rel="ems" href="img/galleries/ems/3.jpg"><img src="img/galleries/ems/thumb3.jpg" alt="Exterior of EMS Peterborough's property"></a></div>
	<div class="imgbox w1 h1" data-pos-x="3" data-pos-y="2"><a class="fancybox" rel="ems" href="img/galleries/ems/4.jpg"><img src="img/galleries/ems/thumb4.jpg" alt="Interior of EMS Peterborough's  indoor parking lot"></a></div>
	<div class="imgbox w2 h1" data-pos-x="1" data-pos-y="1"><a class="fancybox" rel="ems" href="img/galleries/ems/5.jpg"><img src="img/galleries/ems/thumb5.jpg" alt="Front entrance of EMS Peterborough"></a></div>
</div>

<div class="gallery-mobile">
	<img src="img/arrow-gallery-left.png" class="arrow-gallery go-left-mobile" alt="Scroll left"/>
	<img src="img/arrow-gallery-right.png" class="arrow-gallery go-right-mobile" alt="Scroll right"/>
	<div class="clip">
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/ems/1.jpg"><img src="img/galleries/ems/thumb1-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/ems/2.jpg"><img src="img/galleries/ems/thumb2-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/ems/5.jpg"><img src="img/galleries/ems/thumb5-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/ems/4.jpg"><img src="img/galleries/ems/thumb4-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/ems/3.jpg"><img src="img/galleries/ems/thumb3-mobile.jpg"></a></div>
	</div>
</div>