<script>
	$(document).ready(function(){
		use('projects/kawartha-glen').backstretch('img/bg/projects/kawartha-glen.jpg',{ 'centeredX': false });
		use('projects/kawartha-glen').find('.top-nav .chunk em').css('color','#99c4c7');

		onUnload('projects/kawartha-glen',function(){
			setTimeout(function(){
				use('projects/kawartha-glen').children('.top-nav').children('.down-page').removeClass('open');
			},2);
		});

		onLoad('projects/kawartha-glen',function(){
            _gaq.push(['_trackPageview', document.location.pathname]);
            console.log("tracked "+document.location.pathname);
        });

		setupMobileGallery('projects-kawartha-glen');
	});
</script>

<div class="top-nav">
	<div class="chunk case-study">
		OUR WORK
	</div>
	<div class="chunk">
		<em>{{ projects->position }}</em> of <em>{{ projects->count }}</em>
	</div>
	<div class="chunk down-page">
		{{ projectsNav }}
	</div>
</div>

<a class="arrow" data-hide="{{ projects->end? }}" href="{{ projects->next }}"><img src="img/arrow.png" alt="Click to go to the next project"/></a>
<a class="arrowup" data-hide="{{ projects->start? }}" href="{{ projects->prev }}"><img src="img/arrow-up.png" alt="Click to go to the previous project"/></a>


<div class="p">
	<h1>KAWARTHA GLEN</h1>
	<p>
		Signum perceived a market opportunity for luxury condominiums in the Peterborough area. In addition to managing the project’s design and construction, Signum also handled marketing, sales, and after-sales service. The result: an inviting, cheerful community. 
	</p>
	<table>
		<tr>
			<th>LOCATION</th>
			<td>Clonsilla Avenue, Peterborough</td>
		</tr>
		<tr>
			<th>SIZE</th>
			<td>69,000 square feet, with 75 condominiums</td>
		</tr>
		<tr>
			<th>FUN FACT</th>
			<td>Construction was financed through a unique arrangement with a Schedule A lender.</td>
		</tr>
	</table>
</div>


<div class="gallery"> <!-- h# = height, w# = width, data-pos-x = the x position (counting from right to left), data-pos-y = the y position (counting from bottom to top) -->
	<div class="imgbox w2 h1" data-pos-x="1" data-pos-y="5"><a class="fancybox" rel="kg" href="img/galleries/kawartha-glen/1.jpg"><img src="img/galleries/kawartha-glen/thumb1.jpg" alt="Exterior of Kawartha Glen's property"></a></div>
	<div class="imgbox w2 h1" data-pos-x="1" data-pos-y="4"><a class="fancybox" rel="kg" href="img/galleries/kawartha-glen/2.jpg"><img src="img/galleries/kawartha-glen/thumb2.jpg" alt="Interior of one of Kawartha Glen's condos"></a></div>
	<div class="imgbox w2 h1" data-pos-x="2" data-pos-y="3"><a class="fancybox" rel="kg" href="img/galleries/kawartha-glen/3.jpg"><img src="img/galleries/kawartha-glen/thumb3.jpg" alt="Another exterior shot of Kawartha Glen's property"></a></div>
	<div class="imgbox w1 h1" data-pos-x="1" data-pos-y="3"><a class="fancybox" rel="kg" href="img/galleries/kawartha-glen/4.jpg"><img src="img/galleries/kawartha-glen/thumb4.jpg" alt="Another interior shot of one of Kawartha Glen's condos"></a></div>
	<div class="imgbox w2 h2" data-pos-x="1" data-pos-y="1"><a class="fancybox" rel="kg" href="img/galleries/kawartha-glen/5.jpg"><img src="img/galleries/kawartha-glen/thumb5.jpg" alt="Patio and seating area on Kawartha Glen's property"></a></div>
</div>

<div class="gallery-mobile">
	<img src="img/arrow-gallery-left.png" class="arrow-gallery go-left-mobile" alt="Scroll left"/>
	<img src="img/arrow-gallery-right.png" class="arrow-gallery go-right-mobile" alt="Scroll right"/>
	<div class="clip">
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/kawartha-glen/1.jpg"><img src="img/galleries/kawartha-glen/thumb1-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/kawartha-glen/2.jpg"><img src="img/galleries/kawartha-glen/thumb2-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/kawartha-glen/5.jpg"><img src="img/galleries/kawartha-glen/thumb5-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/kawartha-glen/4.jpg"><img src="img/galleries/kawartha-glen/thumb4-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/kawartha-glen/3.jpg"><img src="img/galleries/kawartha-glen/thumb3-mobile.jpg"></a></div>
	</div>
</div>