<script>
	$(document).ready(function(){
		use('projects/scotia-bank').backstretch('img/bg/projects/scotia-bank.jpg',{ 'centeredX': false });
		use('projects/scotia-bank').find('.top-nav .chunk em').css('color','#c61d23');

		onUnload('projects/scotia-bank',function(){
			setTimeout(function(){
				use('projects/scotia-bank').children('.top-nav').children('.down-page').removeClass('open');
			},2);
		});

		onLoad('projects/scotia-bank',function(){
            _gaq.push(['_trackPageview', document.location.pathname]);
            console.log("tracked "+document.location.pathname);
        });

		setupMobileGallery('projects-scotia-bank');
	});
</script>

<div class="top-nav">
	<div class="chunk case-study">
		OUR WORK
	</div>
	<div class="chunk">
		<em>{{ projects->position }}</em> of <em>{{ projects->count }}</em>
	</div>
	<div class="chunk down-page">
		{{ projectsNav }}
	</div>
</div>

<a class="arrow" data-hide="{{ projects->end? }}" href="{{ projects->next }}"><img src="img/arrow.png" alt="Click to go to the next project"/></a>
<a class="arrowup" data-hide="{{ projects->start? }}" href="{{ projects->prev }}"><img src="img/arrow-up.png" alt="Click to go to the previous project"/></a>


<div class="p">
	<h1>SCOTIABANK</h1>
	<p>
		Signum recognized the value of this prime downtown location when others did not, and managed all aspects of the project from start to finish. The building’s contemporary design, combined with its street-facing placement and rear parking lot, has rejuvenated a major downtown intersection. 
	</p>
	<table>
		<tr>
			<th>LOCATION</th>
			<td>Hunter Street West, Peterborough</td>
		</tr>
		<tr>
			<th>SIZE</th>
			<td>18,000 square feet</td>
		</tr>
		<tr>
			<th>FUN FACT</th>
			<td>Initially conceived as a bank branch, with unrelated offices on the 2nd and 3rd floors, plans changed midway through the design stage to amalgamate Scotiabank’s trust and investment divisions. </td>
		</tr>
	</table>
</div>


<div class="gallery"> <!-- h# = height, w# = width, data-pos-x = the x position (counting from right to left), data-pos-y = the y position (counting from bottom to top) -->
	<div class="imgbox w2 h2" data-pos-x="1" data-pos-y="4"><a class="fancybox" rel="sb" href="img/galleries/scotia-bank/1.jpg"><img src="img/galleries/scotia-bank/thumb1.jpg" alt="Exterior signage at Scotia Banks new branch"></a></div>
	<div class="imgbox w1 h1" data-pos-x="3" data-pos-y="3"><a class="fancybox" rel="sb" href="img/galleries/scotia-bank/2.jpg"><img src="img/galleries/scotia-bank/thumb2.jpg" alt="Exterior shot of Scotia Banks new branch featuring the intersection nearby"></a></div>
	<div class="imgbox w2 h1" data-pos-x="1" data-pos-y="3"><a class="fancybox" rel="sb" href="img/galleries/scotia-bank/3.jpg"><img src="img/galleries/scotia-bank/thumb3.jpg" alt="An angled shot of Scotia Banks new branch showing the front entrance and intersection"></a></div>
	<div class="imgbox w2 h2" data-pos-x="1" data-pos-y="1"><a class="fancybox" rel="sb" href="img/galleries/scotia-bank/4.jpg"><img src="img/galleries/scotia-bank/thumb4.jpg" alt="The front entrance of Scotia Banks new branch"></a></div>
</div>

<div class="gallery-mobile">
	<img src="img/arrow-gallery-left.png" class="arrow-gallery go-left-mobile" alt="Scroll left"/>
	<img src="img/arrow-gallery-right.png" class="arrow-gallery go-right-mobile" alt="Scroll right"/>
	<div class="clip">
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/scotia-bank/1.jpg"><img src="img/galleries/scotia-bank/thumb1-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/scotia-bank/2.jpg"><img src="img/galleries/scotia-bank/thumb2-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/scotia-bank/4.jpg"><img src="img/galleries/scotia-bank/thumb4-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/scotia-bank/3.jpg"><img src="img/galleries/scotia-bank/thumb3-mobile.jpg"></a></div>
	</div>
</div>