<script>
	$(document).ready(function(){
		use('projects/unicity').backstretch('img/bg/projects/unicity.jpg',{ 'centeredX': false });
		use('projects/unicity').find('.top-nav .chunk em').css('color','#eea320');
		use('projects/unicity').find('a').css({
			color: '#000',
			textDecoration: 'underline'
		});

		onUnload('projects/unicity',function(){
			setTimeout(function(){
				use('projects/unicity').children('.top-nav').children('.down-page').removeClass('open');
			},2);
		});

		onLoad('projects/unicity',function(){
            _gaq.push(['_trackPageview', document.location.pathname]);
            console.log("tracked "+document.location.pathname);
        });

		setupMobileGallery('projects-unicity');
	});
</script>

<div class="top-nav">
	<div class="chunk case-study">
		OUR WORK
	</div>
	<div class="chunk">
		<em>{{ projects->position }}</em> of <em>{{ projects->count }}</em>
	</div>
	<div class="chunk down-page">
		{{ projectsNav }}
	</div>
</div>

<a class="arrow" data-hide="{{ projects->end? }}" href="{{ projects->next }}"><img src="img/arrow.png" alt="Click to go to the next project"/></a>
<a class="arrowup" data-hide="{{ projects->start? }}" href="{{ projects->prev }}"><img src="img/arrow-up.png" alt="Click to go to the previous project"/></a>


<div class="p">
	<h1>UNICITY</h1>
	<p>
		Recognizing a need for contemporary shared office space in Peterborough, Signum founded <a href="http://www.unicityongeorge.com">Ünicity</a>. Located at 420 George, Ünicity offers private workspace, shared meeting areas and social amenities for small businesses, independent professionals and entrepreneurs. 
	</p>
	<table>
		<tr>
			<th>LOCATION</th>
			<td>George Street North, Peterborough</td>
		</tr>
		<tr>
			<th>SIZE</th>
			<td>7,000 square feet</td>
		</tr>
		<tr>
			<th>FUN FACT</th>
			<td>Ünicity’s founding tenants include a civil engineering firm, an environmental consultancy, a freelance journalist and a kinesiologist.</td>
		</tr>
	</table>
</div>


<div class="gallery"> <!-- h# = height, w# = width, data-pos-x = the x position (counting from right to left), data-pos-y = the y position (counting from bottom to top) -->
	<div class="imgbox w1 h1" data-pos-x="1" data-pos-y="5"><a class="fancybox" rel="u" href="img/galleries/unicity/1.jpg"><img src="img/galleries/unicity/thumb1.jpg" alt="Interior of kitchen at the unicity office"></a></div>
	<div class="imgbox w2 h1" data-pos-x="1" data-pos-y="4"><a class="fancybox" rel="u" href="img/galleries/unicity/2.jpg"><img src="img/galleries/unicity/thumb2.jpg" alt="Interior of group seating/collabertation area at the unicity office"></a></div>
	<div class="imgbox w1 h1" data-pos-x="3" data-pos-y="3"><a class="fancybox" rel="u" href="img/galleries/unicity/3.jpg"><img src="img/galleries/unicity/thumb3.jpg" alt="Person sitting on a couch at the unicity office"></a></div>
	<div class="imgbox w1 h1" data-pos-x="2" data-pos-y="3"><a class="fancybox" rel="u" href="img/galleries/unicity/4.jpg"><img src="img/galleries/unicity/thumb4.jpg" alt="Another sitting/collaberation area inside the unicity office"></a></div>
	<div class="imgbox w1 h1" data-pos-x="1" data-pos-y="3"><a class="fancybox" rel="u" href="img/galleries/unicity/6.jpg"><img src="img/galleries/unicity/thumb6.jpg" alt="Interior of kitchen at the unicity office"></a></div>
	<div class="imgbox w2 h2" data-pos-x="1" data-pos-y="1"><a class="fancybox" rel="u" href="img/galleries/unicity/5.jpg"><img src="img/galleries/unicity/thumb5.jpg" alt="Another sitting/collaberation area inside the unicity office"></a></div>
</div>

<div class="gallery-mobile">
	<img src="img/arrow-gallery-left.png" class="arrow-gallery go-left-mobile" alt="Scroll left"/>
	<img src="img/arrow-gallery-right.png" class="arrow-gallery go-right-mobile" alt="Scroll right"/>
	<div class="clip">
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/unicity/1.jpg"><img src="img/galleries/unicity/thumb1-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/unicity/2.jpg"><img src="img/galleries/unicity/thumb2-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/unicity/5.jpg"><img src="img/galleries/unicity/thumb5-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/unicity/4.jpg"><img src="img/galleries/unicity/thumb4-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/unicity/3.jpg"><img src="img/galleries/unicity/thumb3-mobile.jpg"></a></div>
		<div class="imgbox-mobile"><a class="fancybox" rel="ac" href="img/galleries/unicity/6.jpg"><img src="img/galleries/unicity/thumb6-mobile.jpg"></a></div>
	</div>
</div>