<script>
	$(document).ready(function(){
		use('about/two').append('<div class="page-bg portrait"></div>')
							 .children(".portrait").backstretch('img/bg/about-2-mobile.jpg',{ 'centeredY': true });

		use('about/two').append('<div class="page-bg landscape"></div>')
							 .children(".landscape").backstretch('img/bg/about-2-mobile-landscape.jpg',{ 'centeredX': false });

		use('about/two').append('<div class="page-bg desktop"></div>')
							 .children(".desktop").backstretch('img/bg/about-2.jpg',{ 'centeredX': false });

		use('about/two').children(".page-bg").hide();
		if ($(window).width() <= 900) {
			use('about/two').children(".portrait").show();
		} else if ($(window).width() < 1280 && $(window).width() > 900) {
			use('about/two').children(".landscape").show();
		} else {
			use('about/two').children(".desktop").show();
		}

		$( window ).on( "orientationchange")
				   .on( "resize", function( event ) {
						use('about/two').children(".page-bg").hide();
						if ($(window).width() <= 900) {
							use('about/two').children(".portrait").show();
						} else if ($(window).width() < 1280 && $(window).width() > 900) {
							use('about/two').children(".landscape").show();
						} else {
							use('about/two').children(".desktop").show();
						}
		});
		onLoad('about/two',function(){
            _gaq.push(['_trackPageview', document.location.pathname]);
            console.log("tracked "+document.location.pathname);
        });
	});
</script>

<p>
	We bring to every project the foresight to ask the right questions and the creativity to find the right resolution. Then we work smart, we meet deadlines and we respect budgets.  
	<br/><br/>
	To find out more, <a href="mailto://inquire@signumcorp.com">inquire@signumcorp.com</a>.
</p>

<a class="arrow" href="{{ about->prev }}"><img src="img/arrow-up.png"/ alt="Click to go up a page"></a>