<script>
	$(document).ready(function(){
		use('about/one').append('<div class="page-bg portrait"></div>')
							 .children(".portrait").backstretch('img/bg/about-1-mobile.jpg',{ 'centeredY': true });

		use('about/one').append('<div class="page-bg landscape"></div>')
							 .children(".landscape").backstretch('img/bg/about-1-mobile-landscape.jpg',{ 'centeredX': false });

		use('about/one').append('<div class="page-bg desktop"></div>')
							 .children(".desktop").backstretch('img/bg/about-1.jpg',{ 'centeredX': false });

		use('about/one').children(".page-bg").hide();
		if ($(window).width() <= 900) {
			use('about/one').children(".portrait").show();
		} else if ($(window).width() < 1280 && $(window).width() > 900) {
			use('about/one').children(".landscape").show();
		} else {
			use('about/one').children(".desktop").show();
		}

		$( window ).on( "orientationchange")
				   .on( "resize", function( event ) {
						use('about/one').children(".page-bg").hide();
						if ($(window).width() <= 900) {
							use('about/one').children(".portrait").show();
						} else if ($(window).width() < 1280 && $(window).width() > 900) {
							use('about/one').children(".landscape").show();
						} else {
							use('about/one').children(".desktop").show();
						}
		});
		onLoad('about/one',function(){
            _gaq.push(['_trackPageview', document.location.pathname]);
            console.log("tracked "+document.location.pathname);
        });
	});
</script>

<p>
	Signum is your single source for concept development, feasibility, design, finance, project and construction management. We work in close partnership with investors, clients and stakeholders to build distinctive, outstanding properties. 
	<br/><br/>
	We are detail oriented, design driven, timeline focused and consummately professional.
</p>

<a class="arrow" href="{{ about->next }}"><img src="img/arrow.png" alt="Click to go down a page"/></a>