<script>
	$(document).ready(function(){
		use('contact').backstretch('img/bg/contact-2.jpg',{ 'centeredX': false });
		onLoad('contact',function(){
			$('img.map').animate({
				opacity: '1'
			},650);
		});
		onUnload('contact',function(){
			$('img.map').animate({
				opacity: '0'
			},500);
		});
		$(window).resize(function(){
			use('contact').backstretch('img/bg/contact-2.jpg',{ 'centeredX': false });
		});
		$( window ).on( "orientationchange", function( event ) {
			use('contact').backstretch('img/bg/contact-2.jpg',{ 'centeredX': false });
		});
		onLoad('contact',function(){
            _gaq.push(['_trackPageview', document.location.pathname]);
            console.log("tracked "+document.location.pathname);
        });
	});
</script>

<p>
	<a href="mailto:inquire@signumcorp.com"><img class="icon-email" src="img/mail-icon.png" alt="Click to email us"/><span>inquire</span>@signumcorp.com</a><br/><br/>
	<strong>Signum Corporation</strong><br/>
	<small>420 George Sreet North, Suite 203<br>
	Peterborough, Ontario, Canada<br>
	K9H 3R5<br></small>

	<span class="hr"></span>

	<span>phone</span> +705 741 9021<br>
	<span>facsimile</span> +705 742 3305<br>

	<a href="https://www.google.ca/maps/place/420+George+St+N+%23203,+Peterborough,+ON+K9H+3R4/@44.3065008,-78.320154,17z/data=!3m1!4b1!4m2!3m1!1s0x89d58ceb38ecdac3:0x26f4a886b14a3661" target="_blank"><img class="map" src="img/map.png" alt="Click to see map!"/></a>
</p>
<!-- <video autoplay loop class="contact-bg">
	<source src="video/contact-new.webm" type="video/webm">
	<source src="video/contact-new.mp4" type="video/mp4">
</video> -->