<div id="slider">
    <div class="slider-shim"></div>

    <div class="background" id="slider-background">
        <div class="slide">
            <img src="img/slider/03.jpg" alt="A building built by Signum Corp.">
        </div>
        <div class="slide">
            <img src="img/slider/02.jpg" alt="The interior of a building built by Signum Corp.">
        </div>
        <div class="slide">
            <img src="img/slider/01.jpg" alt="A create scuplture built by Signum Corp.">
        </div>
    </div>

    <div class="foreground">
        <div class="slide">
            <div class="slide-pane" style="margin-left: 250px;">
                <div class="slide-pane-blurmask">
                    <img src="img/slider/03-blur.jpg" alt="Blurred version of background, for decoration">
                </div>
                <div class="slide-pane-content">
                    <div class="border"></div>
                    <h2>
                        PLAN<br>
                        DESIGN<br>
                        BUILD<br>
                        <span style="padding-left: 5px;">ADVISE</span><br>
                    </h2>
                    <p>We excel at every aspect of real estate development.</p>
                    <div class="read-more-extra">Learn how we can help</div>
                    <a href="page:about"><img class="read-more" src="img/arrow.png" alt="Read more"></a>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slide-pane" style="margin-left: 170px;">
                <div class="slide-pane-blurmask">
                    <img src="img/slider/02-blur.jpg" alt="Blurred version of background, for decoration">
                </div>
                <div class="slide-pane-content">
                    <div class="border"></div>
                    <h2>
                        PEACE<br/>
                        <span style="padding-left: 2px;">OF MIND</span><br/>
                    </h2>
                    <p>We have earned<br/>confidence and trust.</p>
                    <div class="read-more-extra">Meet our principal</div>
                    <a href="page:who-we-are"><img class="read-more" src="img/arrow.png" alt="Read more"></a>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slide-pane" style="margin-left: 670px;">
                <div class="slide-pane-blurmask">
                    <img src="img/slider/01-blur.jpg" alt="Blurred version of background, for decoration">
                </div>
                <div class="slide-pane-content">
                    <div class="border"></div>
                    <h2>
                        MAKE<br/>
                        <span style="padding-left: 5px;">YOUR</span><br>
                        MARK<br/>
                    </h2>
                    <p>Properties that reflect purpose, character and ambition.</p>
                    <div class="read-more-extra">Browse our portfolio</div>
                    <a href="page:projects"><img class="read-more" src="img/arrow.png" alt="Read more"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-nav">
        <div class="slider-nav-inner">
            <div class="slider-arrow"></div>
            <div class="slider-pager">
                
            </div>
        </div>
    </div>
    
</div>

<script src="js/carousel.js"></script>