<script>
	$(document).ready(function(){
		onLoad('testimonials', function(){
			setTimeout(function(){
				currentTest.css({ top: '170px', display: 'block' })
				currentTest.animate({
					top: '0px'
				},500);
			},500);
		});

		onUnload('testimonials', function(){
			currentTest.animate({
				top: '-170px'
			},500,function(){
				$(this).css({display: 'none'});
			});
		});

		use('testimonials').backstretch('img/bg/testimonials-1.jpg',{ 'centeredX': false });

		var testimonials = $('.testimonial').length;
		$('.testimonial-slider').append('<div class="nav-btns"></div>');
		for(i=0;i<testimonials;i++){
			$('.testimonial-slider .nav-btns').append('<div class="nav-btn">'+(i+1)+'</div>');
		}
		j=0;
		$('.testimonial').each(function(){
			$(this).addClass("testimonial-"+(++j));
		})
		currentTest=$('.testimonial-1');
		currentTest.css('display','block').animate({
			top: '0px'
		},500);
		$('.testimonial-slider .nav-btns .nav-btn').click(function(){
			num = $(this).text();
			currentTest.stop().animate({
				top: '-170px'
			},500,function(){
				$(this).css({ top: '170px', display: 'none' })
			});
			currentTest = $('.testimonial-'+num);
			currentTest.css({display: 'block'}).animate({
				top: '0px'
			},500);
		})
	});
</script>

<div class="p">
	Signum works on diverse projects, with goals to achieve and with people whose personalities are as unique as the project itself.  We asked five of these individuals what they thought about the “Signum experience”.  This is what they said.
	<div class="testimonial-slider">
		<img src="img/quote-start.png" class="quote-start" alt=""/>
		<img src="img/quote-end.png" class="quote-end" alt=""/>
		<div class="testimonial-clip">
			<div class="testimonial">
				<div class="name">Tom Lehrman</div>
				<div class="title">Senior Vice-President, AmeriCredit</div>
				<p>
					Signum managed the construction for the base building and the interior of our first Canadian customer care location in Peterborough. As the developer on the project, Signum was very responsible and very much on top of things, working extremely hard to make the project successful – to ensure it was completed on time and on budget.
				</p>
			</div>
			<div class="testimonial">
				<div class="name">Reiner Plessl</div>
				<div class="title">Vice-President, RBC Capital Markets Real Estate Group</div>
				<p>
					RBC Capital Markets Real Estate Group was engaged to arrange the construction and mortgage financing for a Signum project. Throughout this process, Signum demonstrated its strength as a solution-driven company and its excellent attention to detail. They were very focused on delivering the best product to the client in a cost-efficient manner.
				</p>
			</div>
			<div class="testimonial">
				<div class="name">Iain McCorkindale</div>
				<div class="title">Senior Consultant, Helyar and Associates</div>
				<p>
					We worked with Signum in the role of the lender’s consultant on a large project and found Signum to demonstrate excellent capability and performance. They are an exceptional team of practical thinkers who are confident, experienced, bright and are very proactive in their project management approach. In short, they are the complete article.
				</p>
			</div>
			<div class="testimonial">
				<div class="name">Michaela Weiner</div>
				<div class="title">Partner, Petroff Partnership Architects</div>
				<p>
					We have worked closely with Signum over a number of projects. They are very conscious of the project budgets, but do not sacrifice quality or cut corners. Instead, they push harder to find the best solutions. Overall, Signum conducts business with solid planning, good communication, firm direction and clear expectations. These kind of professional qualities contribute greatly to efficient and successful projects.
				</p>
			</div>
			<div class="testimonial">
				<div class="name">Marilyn Rogers</div>
				<div class="title">Broker, Rogers &amp; Trainor Commercial Realty Ltd.</div>
				<p>
					A key strength of Signum Corporation is commitment. Based on my experience working with Signum on the Bell Call Centre project, Signum honoured all obligations in an impressive, timely manner. Also, because Signum’s people are skilled in areas of contract negotiation, building, engineering and site selection, their involvement on a project goes beyond just constructing a box.
				</p>
			</div>
		</div>
	</div>
</div>