<script>
	$(document).ready(function(){
		use('who-we-are/two').backstretch('img/bg/who-we-are-2.jpg',{ 'centeredX': false });
		fitWords();
		$(window).resize(function(){
			fitWords();
			use('who-we-are/two').backstretch('img/bg/who-we-are-2.jpg',{ 'centeredX': false });
		});
		$('.speechbubble').hide();
		$('.words div').mousemove(function(event){
			mousex = event.clientX;
			mousey = event.clientY;
			$('.speechbubble').css({
				top: (mousey-91) + "px",
				left: (mousex-172) + "px"
			});
			$('.speechbubble').html(pickBubble($(this).attr('id')));
			$('.speechbubble').show();
		});
		$('.words div').mouseout(function(){
			$('.speechbubble').removeClass('large').removeClass('medium').removeClass('mediumlarge').removeClass('long');
			$('.speechbubble').hide();
		});


		$('.mobile-words div').css('top','-90px');
		$('.mobile-words div:first-child').css('top','0').addClass('current-word');
		$('.about-word').html(
			pickBubble( ($('.mobile-words div:first-child').attr('id')) )
		);

		$('.mobile-words-buttons div.go-right').click(function(){
			$cur = $('.mobile-words div.current-word');
			$cur.animate({
				top: '90px'
			},200,function(){
				$(this).css('top','-90px');
			}).removeClass('current-word');
			$cur.nextOrFirst('div').animate({
				top: '0px'
			},200).addClass('current-word');
			$('.about-word').html(
				pickBubble( ($cur.nextOrFirst('div').attr('id')) )
			);
		});
		$('.mobile-words-buttons div.go-left').click(function(){
			$cur = $('.mobile-words div.current-word');
			$cur.animate({
				top: '-90px'
			},160).removeClass('current-word');
			$cur.prevOrLast('div').css('top','90px').animate({
				top: '0px'
			},160).addClass('current-word');
			$('.about-word').html(
				pickBubble( ($cur.prevOrLast('div').attr('id')) )
			);
		});

		$( window ).on( "orientationchange", function( event ) {
			use('who-we-are/two').backstretch('img/bg/who-we-are-2.jpg',{ 'centeredX': false });
		});
		onLoad('who-we-are/two',function(){
            _gaq.push(['_trackPageview', document.location.pathname]);
            console.log("tracked "+document.location.pathname);
        });
	});
	function fitWords() {
	    $(".words div").each(function() {
	        var topRatio = $(this).attr('data-top-ratio');
	        $(this).css({
	            top: topRatio * ($('.words').height())
	        });
	    });
	}
	$.fn.nextOrFirst = function(selector){
		var next = this.next(selector);
		return (next.length) ? next : this.prevAll(selector).last();
	};

	$.fn.prevOrLast = function(selector){
		var prev = this.prev(selector);
		return (prev.length) ? prev : this.nextAll(selector).last();
	};
	function pickBubble(pick) {
		switch(pick) {
			case "diligent":
				$('.speechbubble').addClass('medium');
				return "<strong>Peter Lawless</strong><br/>Partner, LLF LAWYERS LLP";
				break;
			case "knowledgeable":
				$('.speechbubble').addClass('long');
				return "<strong>Yvonne Whyte</strong><br/>President, MacKenzie Ray Heron & Edward";
				break;
			case "honest":
				$('.speechbubble').addClass('mediumlarge');
				return "<strong>Sandy Wilson</strong><br/>Alexander Wilson Architect Inc.";
				break;
			case "creative":
				$('.speechbubble').addClass('large');
				return "<strong>Scott Mancini</strong><br/>Commercial Account Manager<br/>Real Estate & Construction<br/>Royal Bank of Canada";
				break;
			case "adept":
				$('.speechbubble').addClass('large');
				return "<strong>Derek Gould, MBA, SIOR</strong><br/>President, Broker of Record<br/>D. W. Gould Realty Advisors Inc., Brokerage";
				break;
			case "methodical":
				$('.speechbubble').addClass('medium');
				return "<strong>Norma de la Vega</strong><br/>Principal, MiCasa Designs";
				break;
			case "courageous":
				return "<strong>Eileen MacDonald</strong><br/>Katherine’s mom";
				break;
		}
	}
</script>

<p>
	We are rigourous in our process and vigilant about costs. We say what we think, not what people want to hear. We stand firmly behind every decision and every solution. 
	<br><br>
	Signum is a company that stands out from the rest.
	<br/><br/>
	To find out more, <a href="mailto://inquire@signumcorp.com">inquire@signumcorp.com</a>.
</p>

<div class="mobile-words-con">
	<div class="mobile-words-buttons">
		<div class="go-left"></div>
		<div class="go-right"></div>
		<div class="about-word"></div>
	</div>
	<div class="mobile-words">
		<div id="diligent"></div>
		<div id="courageous"></div>
		<div id="knowledgeable"></div>
		<div id="creative"></div>
		<div id="adept"></div>
		<div id="methodical"></div>
		<div id="honest"></div>
	</div>
</div>

<a class="arrow" href="{{ who-we-are->prev }}"><img src="img/arrow-up.png" alt="Click to go up a page"/></a>

<div class="words">
	<div id="diligent" data-top-ratio="0.192"><img src="img/words/diligent.png" alt="Diligent"/></div>
	<div id="courageous" data-top-ratio="0.27"><img src="img/words/courageous.png" alt="Courageous"/></div>
	<div id="knowledgeable" data-top-ratio="0.34"><img src="img/words/knowledgeable.png" alt="Knowledgeable"/></div>
	<div id="creative" data-top-ratio="0.4"><img src="img/words/creative.png" alt="Creative"/></div>
	<div id="adept" data-top-ratio="0.47"><img src="img/words/adept.png" alt="Adept"/></div>
	<div id="methodical" data-top-ratio="0.555"><img src="img/words/methodical.png" alt="Methodical"/></div>
	<div id="honest" data-top-ratio="0.6"><img src="img/words/honest.png" alt="Honest"/></div>
</div>
<div class="speechbubble"></div>