<script>
	$(document).ready(function(){
		use('who-we-are/one').append('<div class="page-bg portrait"></div>')
							 .children(".portrait").backstretch('img/bg/who-we-are-1-mobile.jpg',{ 'centeredY': true });

		use('who-we-are/one').append('<div class="page-bg landscape"></div>')
							 .children(".landscape").backstretch('img/bg/who-we-are-1-mobile-landscape.jpg',{ 'centeredX': false });

		use('who-we-are/one').append('<div class="page-bg desktop"></div>')
							 .children(".desktop").backstretch('img/bg/who-we-are-1.jpg',{ 'centeredX': false });

		use('who-we-are/one').children(".page-bg").hide();
		if ($(window).width() <= 900) {
			use('who-we-are/one').children(".portrait").show();
		} else if ($(window).width() < 1280 && $(window).width() > 900) {
			use('who-we-are/one').children(".landscape").show();
		} else {
			use('who-we-are/one').children(".desktop").show();
		}

		$( window ).on( "orientationchange")
				   .on( "resize", function( event ) {
						use('who-we-are/one').children(".page-bg").hide();
						if ($(window).width() <= 900) {
							use('who-we-are/one').children(".portrait").show();
						} else if ($(window).width() < 1280 && $(window).width() > 900) {
							use('who-we-are/one').children(".landscape").show();
						} else {
							use('who-we-are/one').children(".desktop").show();
						}
		});
				   
	    $('.close-popup').click(function(){
		    $(this).parent().animate({'bottom': '-100%'},300);
		});
		$('strong.open-popup').click(function(){
		    $('.popup').animate({'bottom': '0'},300);
		});
		onLoad('who-we-are/one',function(){
            _gaq.push(['_trackPageview', document.location.pathname]);
            console.log("tracked "+document.location.pathname);
        });
        onUnload('who-we-are/one',function(){
        	$('.popup').animate({'bottom': '-100%'},300);
        });
	});
</script>

<p>
	“Finding the right partner for your project team is challenging. The best partners should give you confidence. Signum’s proven approach will put you at ease.  At each step in the process, you’ll be reminded why Signum was the right choice.” <strong class="open-popup"><u>– Katherine MacDonald, Principal</u></strong>
</p>

<div class="popup">
	<div class="close-popup"></div>
	<p>
		Katherine co-founded Signum in 1998 with her parents and brother, and has been one of the driving forces behind each of the firm’s projects. She revels in the daily challenges of her work: the opportunity to be both creative and strategic, to conceptualize and construct and to work with great people to achieve mutual goals.  Katherine became Signum’s sole principal in 2012. She lives in Peterborough with her husband and two children. 
	</p>
</div>

<a class="arrow" href="{{ who-we-are->next }}"><img src="img/arrow.png" alt="Click to go down a page" /></a>