<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Signum Corporation is your single source for financing, site selection, design, construction and delivery of beautiful buildings.">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<meta name="keywords" content="Signum, Signum Corporation, Real Estate Developers Peterborough, Construction Management Peterborough, Design Build Lease Peterborough, Project Management Peterborough, Building Construction Peterborough, Commercial Construction Peterborough, Commercial Leasing Peterborough, Real Estate Development Peterborough, Peterborough Developer, Property Management Peterborough">
<meta name="ICBM" content="44.3065008, -78.320154" />
<meta name="geo.position" content="44.3065008;-78.320154" />
<meta name="geo.placename" content="Peterborough" />
<meta name="geo.region" content="CA-ON" />
<meta name="viewport" content="width=device-width, initial-scale=0.45, target-densitydpi=device-dpi">