<header id="header">
    <div class="logo">
        <a href="page:home"><img src="img/logo-signum.png" alt="Signum Corp. logo"></a>
    </div>
    <div class="nav-toggle"></div>
    <nav>
        <div class="nav-top">
            <a href="page:contact" class="btn-contact">Contact</a>
        </div>
        <ul>
            <li><a href="page:about" class="btn-about">What We Do</a></li>
            <li><a href="page:who-we-are" class="btn-whoweare">Who We Are</a></li>
            <li><a href="page:projects" class="btn-portfolio">Our Work</a></li>
        </ul>
    </nav>
</header>