<script src="js/plugins.js"></script>
<script src="js/jquery.cycle.all.min.js"></script>
<script src="js/jquery-imagefill.min.js"></script>
<script src="js/jquery.easing-1.3.pack.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/jquery.mousewheel.min.js"></script>
<script src="js/core3.js"></script>
<script src="js/jqmobile.js"></script>
<script src="js/pagesystem.min.js"></script>
<script type="text/javascript" src="js/fancybox/jquery.fancybox.js"></script>